.consent-support-no-consent-page {
  padding: 2rem;
  background: #f1f1f1;
}

.consent-support-no-consent-message {
  text-align: center;
}

.consent-support-no-consent-message .icon {
  display: inline-block;
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

.consent-support-no-consent-message p:last-child {
  margin-bottom: 0;
}

.consent-support-no-consent-message .ot-sdk-show-settings {
  cursor: pointer;
}
