{#
/**
 * @file
 * Default theme implementation for the No Consent message.
 *
 * Available variables:
 * - category_label: the consent category (e.g 'Functional').
 * - category_name: the consent category name (e.g. 'functional cookies').
 * - context: the no-consent context value.
 * - context_css_class: the no-consent context class.
 * - consent_settings_button: the consent settings button.
 * - consent_settings_link: the consent settings link.
 * - langcode: current content langcode.
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
<div class="consent-support-no-consent-message {{ context_css_class }}">
  <span class="icon">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M1.75 4.5a.25.25 0 00-.25.25v14.5c0 .138.112.25.25.25h20.5a.25.25 0 00.25-.25V4.75a.25.25 0 00-.25-.25H1.75zM0 4.75C0 3.784.784 3 1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14.5A1.75 1.75 0 0122.25 21H1.75A1.75 1.75 0 010 19.25V4.75z"/><path d="M9 15.584V8.416a.5.5 0 01.77-.42l5.576 3.583a.5.5 0 010 .842L9.77 16.005a.5.5 0 01-.77-.42z"/>
    </svg>
  </span>
  <p>
    {% trans with {'langcode': langcode} %}You must accept {{ category_name }} to view this content.{% endtrans %}
    <br>
    {% trans with {'langcode': langcode} %}Change your {{ consent_settings_link }}.{% endtrans %}
  </p>
</div>
{% endapply %}
