{#
/**
 * @file
 * Default theme implementation for the No Consent message.
 *
 * Available variables:
 * - category_label: the consent category (e.g 'Functional').
 * - category_name: the consent category name (e.g. 'functional cookies').
 * - context: the no-consent context value.
 * - context_css_class: the no-consent context class.
 * - consent_settings_button: the consent settings button.
 * - consent_settings_link: the consent settings link.
 * - langcode: current content langcode.
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
<div class="consent-support-no-consent-message">
  <p>
    {% trans with {'langcode': langcode} %}You must accept {{ category_name }} to view this content.{% endtrans %}
    <br>
    {% trans with {'langcode': langcode} %}Change your {{ consent_settings_link }}.{% endtrans %}
  </p>
</div>
{% endapply %}
